# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
node_modules/
*.log
/lib
tmp
.changelog
coverage/
.nyc_output/
.eslintcache

# Build files
packages/server/data/
packages/client/dist/
packages/client/built
packages/communication/dist/**/*.ts
packages/communication/dist/**/*.js
packages/communication/dist/**/*.js.map
packages/diff-calculator/dist/**/*.ts
packages/diff-calculator/dist/**/*.js
packages/diff-calculator/dist/**/*.js.map
packages/server/dist/**/*.ts
packages/server/dist/**/*.js
packages/server/dist/**/*.js.map